<form action="/search" method="get">
    <div>
        <label for="q">Search String</label>
        <input type="text" name="q" id="q" placeholder="Enter your search">
        <button type="submit">Search!</button>
    </div>
</form>